/* =====================================================
   DASHBOARD PREVIEW
===================================================== */

.dashboard-preview{

    padding:100px 0;

}

.dashboard-card{

    max-width:900px;

    margin:auto;

    padding:35px;

    border-radius:28px;

    background:linear-gradient(
        180deg,
        rgba(255,255,255,.05),
        rgba(255,255,255,.02)
    );

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    box-shadow:0 30px 80px rgba(0,0,0,.35);

}